In [101]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import seaborn as sns

### **importing the dataset**

In [102]:
data=pd.read_csv("general_data.csv")

In [103]:
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

### **EDA**

In [104]:
len(data[data.StandardHours>8])

0

In [105]:
len(data[data.Over18=="N"])

0

In [106]:
len(data[data.EmployeeCount>1])

0

In [107]:
data.drop(["EmployeeID","Over18","StandardHours","EmployeeCount","TotalWorkingYears","NumCompaniesWorked"],axis=1,inplace=True)

In [108]:
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,PercentSalaryHike,StockOptionLevel,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,Female,1,Healthcare Representative,Married,131160,11,0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,Female,1,Research Scientist,Single,41890,23,1,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,Male,4,Sales Executive,Married,193280,15,3,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,Male,3,Human Resources,Married,83210,11,3,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,Male,1,Sales Executive,Single,23420,12,2,2,6,0,4

In [109]:
from sklearn import preprocessing

In [110]:
label_encoder=preprocessing.LabelEncoder()

In [111]:
attrition=label_encoder.fit_transform(data["Attrition"])

In [112]:
data["Attrition"]=attrition

In [113]:
travel=label_encoder.fit_transform(data["BusinessTravel"])

In [114]:
data["BusinessTravel"]=travel

In [115]:
department=label_encoder.fit_transform(data["Department"])

In [116]:
data["Department"]=department

In [117]:
education_field=label_encoder.fit_transform(data["EducationField"])

In [118]:
data["EducationField"]=education_field

In [119]:
gender=label_encoder.fit_transform(data["Gender"])

In [120]:
data["Gender"]=gender

In [121]:
jobrole=label_encoder.fit_transform(data["JobRole"])

In [122]:
data["JobRole"]=jobrole

In [123]:
maritalstatus=label_encoder.fit_transform(data["MaritalStatus"])

In [124]:
data["MaritalStatus"]=maritalstatus

In [125]:
data.corr()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,PercentSalaryHike,StockOptionLevel,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,-0.159205,0.024751,-0.010846,0.006963,-0.035706,0.043194,-0.039352,-0.002884,0.011422,-0.095029,-0.044314,-0.033137,-0.031753,-0.027308,0.311309,0.216513,0.202089
Attrition,-0.159205,1.000000,0.000074,-0.048206,-0.009730,-0.015111,-0.057940,0.018125,-0.010290,0.025809,0.162070,-0.031176,0.032533,-0.006839,-0.049431,-0.134392,-0.033019,-0.156199
BusinessTravel,0.024751,0.000074,1.000000,-0.010982,0.024616,0.002755,-0.015462,-0.039243,0.046111,-0.027194,0.024001,-0.037597,-0.031054,0.003683,-0.041888,-0.014575,-0.032591,-0.022636
Department,-0.010846,-0.048206,-0.010982,1.000000,0.012134,-0.004597,0.013720,0.003158,0.002923,-0.025466,-0.044619,-0.032237,-0.007840,0.010512,0.012866,0.010078,0.014845,0.018016
DistanceFromHome,0.006963,-0.009730,0.024616,0.012134,1.000000,-0.008638,-0.024665,-0.044173,-0.037329,-0.010293,-0.027893,-0.021607,0.038125,0.011169,-0.009001,0.031684,0.002290,0.021584
Education,-0.035706,-0.015111,0.002755,-0.004597,-0.008638,1.000000,0.012329,-0.016547,0.045746,0.030155,0.024991,0.006410,-0.040531,0.001261,0.010472,0.006080,0.022490,0.005358
EducationField,0.043194,-0.057940,-0.015462,0.013720,-0.024665,0.012329,1.000000,-0.005634,-0.019528,0.013106,-0.051409,0.008858,-0.011214,0.021620,-0.021793,0.023120,0.048181,0.021664
Gender,-0.039352,0.018125,-0.039243,0.003158,-0.044173,-0.016547,-0.005634,1.000000,-0.026854,0.003724,-0.009132,0.007530,0.011841,0.019237,-0.030167,-0.017277,-0.021812,0.004438
JobLevel,-0.002884,-0.010290,0.046111,0.002923,-0.037329,0.045746,-0.019528,-0.026854,1.000000,-0.014763,-0.022021,0.047316,0.010973,0.000993,-0.032500,-0.064219,-0.060811,-0.055251
JobRole,0.011422,0.025809,-0.027194,-0.025466,-0.010293,0.030155,0.013106,0.003724,-0.014763,1.000000,0.022888,0.017072,-0.013465,0.023991,0.051744,-0.012886,-0.014635,0.010695
MaritalStatus,-0.095029,0.162070,0.024001,-0.044619,-0.027893,0.024991,-0.051409,-0.009132,-0.022021,0.022888,1.000000,-0.052383,0.006378,0.014745,0.012798,-0.059986,-0.030915,-0.038570
MonthlyIncome,-0.044314,-0.031176,-0.037597,-0.032237,-0.021607,0.006410,0.008858,0.007530,0.047316,0.017072,-0.052383,1.000000,0.004325,0.026930,0.050112,0.000995,0.065219,0.024304
PercentSalaryHike,-0.033137,0.032533,-0.031054,-0.007840,0.038125,-0.040531,-0.011214,0.011841,0.010973,-0.013465,0.006378,0.004325,1.000000,0.012548,-0.037392,-0.029707,-0.029542,-0.040864
StockOptionLevel,-0.031753,-0.006839,0.003683,0.010512,0.011169,0.001261,0.021620,0.019237,0.000993,0.023991,0.014745,0.026930,0.012548,1.000000,-0.069902,0.007886,0.019063,0.017757
TrainingTimesLastYear,-0.027308,-0.049431,-0.041888,0.012866,-0.009001,0.010472,-0.021793,-0.030167,-0.032500,0.051744,0.012798,0.050112,-0.037392,-0.069902,1.000000,-0.007894,0.016121,-0.013270
YearsAtCompany,0.311309,-0.134392,-0.014575,0.010078,0.031684,0.006080,0.023120,-0.017277,-0.064219,-0.012886,-0.059986,0.000995,-0.029707,0.007886,-0.007894,1.000000,0.618409,0.769212
YearsSinceLastPromotion,0.216513,-0.033019,-0.032591,0.014845,0.002290,0.022490,0.048181,-0.021812,-0.060811,-0.014635,-0.030915,0.065219,-0.029542,0.019063,0.016121,0.618409,1.000000,0.510224
YearsWithCurrManager,0.202089,-0.156199,-0.022636,0.018016,0.021584,0.005358,0.021664,0.004438,-0.055251,0.010695,-0.038570,0.024304,-0.040864,0.017757,-0.013270,0.769212,0.510224,1.000000

In [126]:
data.isnull().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
PercentSalaryHike          0
StockOptionLevel           0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

### **Splitting the dataset**

In [127]:
y=data.Attrition

In [128]:
y

0       0
1       1
2       0
3       0
4       0
       ..
4405    0
4406    0
4407    0
4408    0
4409    0
Name: Attrition, Length: 4410, dtype: int32

In [129]:
X=data.drop("Attrition",axis=1)

In [130]:
X

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,PercentSalaryHike,StockOptionLevel,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,2,2,6,2,1,0,1,0,1,131160,11,0,6,1,0,0
1,31,1,1,10,1,1,0,1,6,2,41890,23,1,3,5,1,4
2,32,1,1,17,4,4,1,4,7,1,193280,15,3,2,5,0,3
3,38,0,1,2,5,1,1,3,1,1,83210,11,3,5,8,7,5
4,32,2,1,10,1,3,1,1,7,2,23420,12,2,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,2,1,5,4,3,0,1,6,2,60290,17,1,5,3,0,2
4406,29,2,1,2,4,3,1,1,2,0,26790,15,0,2,3,0,2
4407,25,2,1,25,2,1,1,2,7,1,37020,20,0,4,4,1,2
4408,42,2,2,18,2,3,1,1,2,0,23980,14,1,2,9,7,8
4409,40,2,1,28,3,3,1,2,2,0,54680,12,0,6,21,3,9

In [131]:
X1=sm.add_constant(X)

In [132]:
Logistic=sm.Logit(y,X1)

In [135]:
result=Logistic.fit()

Optimization terminated successfully.
         Current function value: 0.398822
         Iterations 7

In [136]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:              Attrition   No. Observations:                 4410
Model:                          Logit   Df Residuals:                     4392
Method:                           MLE   Df Model:                           17
Date:                Sun, 09 Aug 2020   Pseudo R-squ.:                 0.09706
Time:                        18:27:45   Log-Likelihood:                -1758.8
converged:                       True   LL-Null:                       -1947.9
Covariance Type:            nonrobust   LLR p-value:                 6.818e-70
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                       0.4663      0.402      1.161      0.246      -0.321       1.254
Age                        -0.0407      0.005     -7.786      0.000      -0.051      -0.030
BusinessTravel             -0.0282      0.065     -0.433      0.665      -0.156       0.099
Department                 -0.2213      0.080     -2.757      0.006      -0.379      -0.064
DistanceFromHome           -0.0006      0.005     -0.111      0.911      -0.011       0.010
Education                  -0.0642      0.042     -1.524      0.128      -0.147       0.018
EducationField             -0.1007      0.033     -3.034      0.002      -0.166      -0.036
Gender                      0.0597      0.089      0.673      0.501      -0.114       0.233
JobLevel                   -0.0254      0.039     -0.646      0.518      -0.102       0.052
JobRole                     0.0368      0.018      2.070      0.038       0.002       0.072
MaritalStatus               0.5712      0.063      9.104      0.000       0.448       0.694
MonthlyIncome           -2.026e-06   9.56e-07     -2.119      0.034    -3.9e-06   -1.52e-07
PercentSalaryHike           0.0153      0.012      1.307      0.191      -0.008       0.038
StockOptionLevel           -0.0655      0.051     -1.280      0.201      -0.166       0.035
TrainingTimesLastYear      -0.1450      0.035     -4.117      0.000      -0.214      -0.076
YearsAtCompany             -0.0357      0.016     -2.260      0.024      -0.067      -0.005
YearsSinceLastPromotion     0.1332      0.020      6.552      0.000       0.093       0.173
YearsWithCurrManager       -0.1388      0.022     -6.345      0.000      -0.182      -0.096
===========================================================================================
"""

#### **the columns which are important are Age,BusinessTravel,DistanceFrmHome,Education,Gender,JobLevel,MaritialStatus,YearsSinceLastPromotion	and YearsWithCurrManager**